[user]
  email = anh.pham@booking.com
  name = Anh Pham

[core]
  editor = nvim
  commitGraph = true
  excludesFile = ~/.gitignore_global

[color]
  ui = true

[alias]
  amend = commit --amend
  merged = branch --merged
  pushf = push --force-with-lease
  undo = reset --soft HEAD^
  prune = fetch --prune
  stash-all = stash save --include-untracked

[status]
  showUntrackedFiles = all

[pager]
  log  = diff-so-fancy | less --tabs=4
  show = diff-so-fancy | less --tabs=4
  diff = diff-so-fancy | less --tabs=4

[interactive]
  diffFilter = (echo && diff-so-fancy)

[diff]
  algorithm = histogram

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[help]
  autocorrect = 5

[commit]
  template = ~/.gitmessage
  cleanup = scissors

[rebase]
  autoStash = 1

[pull]
  rebase = false

[push]
  default = current

[gc]
  writeCommitGraph = true

[advice]
  statusHints = false
