[user]
  email = anh.pham@booking.com
  name = Anh Pham

[core]
  editor = nvim
  commitGraph = true

[color]
  ui = true

[alias]
  amend = commit --amend
  merged = branch --merged
  pushf = push --force-with-lease
  undo = reset --soft HEAD^
  prune = fetch --prune
  stash-all = stash save --include-untracked

[status]
  showUntrackedFiles = all

[pager]
  log  = diff-so-fancy | moar
  show = diff-so-fancy | moar
  diff = diff-so-fancy | moar

[interactive]
  diffFilter = (echo && diff-so-fancy)

[diff]
  algorithm = histogram

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[help]
  autocorrect = 5

[commit]
  template = ~/.gitmessage

[rebase]
  autoStash = 1

[pull]
  rebase = false

[push]
  default = current

[gc]
  writeCommitGraph = true

[advice]
  statusHints = false
