[user]
  email = anh.pham@booking.com
  name = Anh Pham

[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Author|added|deleted|modified):'

[color]
  ui = true

[alias]
  amend = commit --amend
  merged = branch --merged
  pushf = push --force-with-lease
  undo = reset --soft HEAD^
  prune = fetch --prune
  stash-all = stash save --include-untracked

[status]
  showUntrackedFiles = all

[diff]
  algorithm = histogram

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[help]
  autocorrect = 5

[commit]
  template = ~/.gitmessage

[pull]
  rebase = true

[push]
  default = current

