nvim/.config/nvim/dictionaries/nextword-data/2gram-c.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-o.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-x.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-t.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-w.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-d.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-v.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-z.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-e.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-e.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-g.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-q.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-k.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-z.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-h.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-f.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-q.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-j.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-k.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-n.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-x.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-j.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-r.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-u.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-f.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-m.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-y.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-j.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-q.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-o.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-g.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-m.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-l.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-p.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-t.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-u.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-l.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-e.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-l.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-t.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-w.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-i.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-w.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-z.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-y.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-n.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-u.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-y.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-x.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/1gram.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-m.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-n.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-o.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-b.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-f.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-w.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-i.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-k.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-a.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-y.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-b.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-r.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-c.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-x.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-r.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-j.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-v.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-t.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-d.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-i.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-k.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-p.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-c.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-b.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-h.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-r.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-h.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-a.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-d.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-e.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-o.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-h.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-l.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-v.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-s.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-u.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-p.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-q.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-i.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-d.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-f.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-m.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-v.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-p.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-n.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-a.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-g.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-z.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-g.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-s.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-c.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/4gram-s.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/NOTICE.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/5gram-b.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/2gram-s.txt filter=lfs diff=lfs merge=lfs -text
nvim/.config/nvim/dictionaries/nextword-data/3gram-a.txt filter=lfs diff=lfs merge=lfs -text
