*.py[cod]
.DS_Store
.vagrant
local/Brewfile.lock.json
local/fish/.config/fish/fish_variables
local/nvim/.config/nvim/autoload/plug.vim*
local/nvim/.config/nvim/dictionaries/mocword.sqlite
local/nvim/.config/nvim/undo/*
local/ssh/.ssh/conf.d
local/ssh/.ssh/id_ed25519
local/ssh/.ssh/root@wifiman
local/wakapi-data/wakapi.db
remote/HOME/.local/bin/nvim-appimage
tags
