*.py[cod]
.DS_Store
.vagrant
local/fish/.config/fish/completions/fisher.fish
local/fish/.config/fish/conf.d/autopair.fish
local/fish/.config/fish/conf.d/puffer_*.fish
local/fish/.config/fish/conf.d/sponge.fish
local/fish/.config/fish/conf.d/z.fish
local/fish/.config/fish/fish_variables
local/fish/.config/fish/functions/__z*.fish
local/fish/.config/fish/functions/_autopair_*.fish
local/fish/.config/fish/functions/_puffer_*.fish
local/fish/.config/fish/functions/_sponge_*.fish
local/fish/.config/fish/functions/fisher.fish
local/fish/.config/fish/functions/sponge_*.fish
local/nvim/.config/nvim/autoload/plug.vim*
local/nvim/.config/nvim/dictionaries/mocword.sqlite
local/nvim/.config/nvim/undo/*
local/ssh/.ssh/id_ed25519
local/ssh/.ssh/root@wifiman
local/ssh/.ssh/ssh_auth_sock
local/wakapi-data/wakapi.db
macOS/Brewfile.lock.json
macOS/ssh/.ssh/id_ed25519
tags
