[user]
  name = Anh Pham

[core]
  editor = nvim
  commitGraph = true
  excludesFile = ~/.gitignore_global

[color]
  ui = true

[alias]
  amend = commit --amend
  merged = branch --merged
  pushf = push --force-with-lease
  undo = reset --soft HEAD^
  prune = fetch --prune
  stash-all = stash save --include-untracked
  stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'

[status]
  showUntrackedFiles = all

[pager]
  log  = diff-so-fancy | nvimpager -p
  show = diff-so-fancy | nvimpager -p
  diff = diff-so-fancy | nvimpager -p

[interactive]
  diffFilter = (echo && diff-so-fancy)

[diff]
  algorithm = histogram

[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[help]
  autocorrect = 5

[commit]
  template = ~/.gitmessage
  cleanup = scissors

[rebase]
  autoStash = true

[pull]
  rebase = false

[push]
  default = current

[gc]
  writeCommitGraph = true

[advice]
  statusHints = false

[feature]
  manyFiles = false

[init]
  defaultBranch = master

[includeIf "gitdir:~/code/work/"]
  path = ~/code/work/.gitconfig

[includeIf "gitdir:~/code/personal/"]
  path = ~/code/personal/.gitconfig
