/* #ui */
.HUD {
  top: 10px;
  bottom: unset;
  min-width: 250px;
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 20px;
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --shadow: 0 7px 20px -7px rgba(0, 0, 0, 0.5);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000),
    var(--ring-shadow, 0 0 #0000), var(--shadow);
}

.HUD:after {
  background-color: #f8f8f8;
  border: 0.1px solid #bbb;
  border-radius: 4px;
}

.HUD.UI {
  height: 26px;
  padding: 8px 4px 0;
}

/* #omni */
body {
  background-color: #f8f8f8;
  border-radius: 12px;
  border: 0.1px solid #bbb;

  margin: 50px;
  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000),
    var(--ring-shadow, 0 0 #0000), var(--shadow);
}

.inactive {
  opacity: 1;
}

#bar,
#bar.empty {
  background: unset;
  border-bottom: 1px solid #dddddd;
  padding: 7px 0;
}

#input {
  box-shadow: unset;
  border: none;
  background: unset;
  font-size: 18px;
  padding: 0 20px;
}

#list {
  background: unset;
  padding: 8px 0;
}

.item {
  border-bottom: unset;
  box-sizing: unset;
  padding: 10px 12px 2px;
  border-radius: 6px;
  margin: 0 8px;
}

.item.s,
.item.s:hover {
  background-color: hsla(0, 0%, 83%, 0.7);
}

.item:hover {
  background-color: unset;
}

.icon {
  height: 18px;
  margin: 0;
  padding-right: 25px;
  width: 14px;
  vertical-align: middle;
}

.bottom {
  height: unset;
}

.top {
  font:
    14px ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}

a {
  color: rgb(115, 115, 115);
  font:
    11px ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}

.label,
.time {
  font-size: 11px;
}

.title > match {
  text-decoration: none;
}

/* #find */
.r {
  box-shadow: unset;
  background: unset;
  padding: 0;
}

#s {
  display: none;
}

#i {
  padding: 1px;
}

#c {
  font:
    12px ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
  color: #999;
  padding: 1px;
}

/* #find:host */

/* #find:selection */
