:root {
  --font-size: 13;
  --font-size-hints: 12;
  --font-size-url: 12;

  --font-weight: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;

  --font: "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* Font used in the UI */

  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-vomnibar: 0 2px 16px rgba(0, 0, 0, 0.3);

  /* -------- VOMNIBAR & HUD -------- */
  --fg: #ffffff;
  --fg-dark: #ffffff65;
  --fg-selected: #d4e7ff;

  --bg: #2a2a2e;
  --bg-searcharea: #222225;
  --bg-selected: #2165d9;
  --bg-bb: #1f2830;

  --border: #404046;

  /* -------- HINTS -------- */
  --bg-hints: #ffd752; /* Background color of link hints */
  --border-hints: #f4ca46; /* Border color of link hints */
  --fg-hints: #000000; /* Text color of link hints, (don't forget to change `#vimiumHintMarkerContainer div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--bg-hints);
  border: 1px solid var(--border-hints);
  box-shadow: var(--shadow);
  padding: 2px 3px;
}

#vimiumHintMarkerContainer div span {
  color: var(--fg-hints);
  font-family: var(--font);
  font-size: var(--font-size-hints);
  font-weight: var(--font-weight-bold);
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--hints-main-fg);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  border-radius: 10px;
  border: 1px solid #555555;
  background: var(--bg-bb);
  box-shadow: var(--shadow-vomnibar);
  left: 50%;
  margin-left: -320px;
  max-width: 640px;
  top: 18px;
}

#vomnibar .vomnibarSearchArea {
  background: var(--bg-bb);
  border: 0;
  border-radius: 10px;
  padding: 0;
  backdrop-filter: blur(20px);
}

#vomnibar input {
  background: #101012;
  color: var(--fg);
  font-family: var(--font);
  border-radius: 5px;
  border: 0;
  font-size: 24px;
  height: initial;
  padding: 12px;
  backdrop-filter: blur(20px);
}

#vomnibar ul {
  background: var(--bg-bb);
  border-radius: 15px;
  padding: 0 0 6px 0;
  margin: 0;
  backdrop-filter: blur(20px);
}

#vomnibar li {
  background: var(--bg-bb);
  border-bottom: 1px solid #333;
  line-height: 1;
  padding: 8px 12px 8px 12px;
  backdrop-filter: blur(20px);
}

#vomnibar li .vomnibarIcon {
  display: none;
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  font-size: var(--font-size);
  font-family: var(--font);
  font-weight: var(--font-weight-medium);
  margin: 0;
  padding: 0;
}

#vomnibar li .vomnibarTopHalf {
  display: flex;
  flex: 0 0 67%;
  margin-right: 9px;
}

#vomnibar li .vomnibarBottomHalf {
  flex: 0 0 33%;
}

#vomnibar li .vomnibarSource.vomnibarNoInsertText,
#vomnibar li .vomnibarSource.vomnibarInsertText {
  display: none;
}

#vomnibar li .vomnibarSource,
#vomnibar li .vomnibarUrl {
  color: var(--fg-dark);
}

#vomnibar li .vomnibarSource {
  display: block;
  flex-shrink: 0;
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  line-height: 2;
  padding: 3px 12px 0 0;
  text-transform: uppercase;
}

#vomnibar li .vomnibarTitle,
#vomnibar li .vomnibarUrl {
  line-height: 1.6;
}

#vomnibar li .vomnibarTitle {
  color: var(--fg);
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#vomnibar li .vomnibarUrl {
  padding-right: 6px;
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#vomnibar li .vomnibarMatch {
  color: inherit;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--fg);
}

#vomnibar li.vomnibarSelected {
  background: var(--bg-selected);
}

#vomnibar li.vomnibarSelected .vomnibarSource,
#vomnibar li.vomnibarSelected .vomnibarUrl {
  color: var(--fg-selected);
}

#vomnibar li.vomnibarSelected .vomnibarTitle {
  color: var(--fg);
}

#vomnibar li.vomnibarSelected .vomnibarMatch {
  color: inherit;
}

/* -------- HUD -------- */
iframe.vimiumHUDFrame {
  top: 0;
  bottom: unset;
}

div.vimiumHUD {
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--fg);
  font-family: var(--font);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  line-height: unset;
  height: auto;
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1px;
  padding-right: 3px;
}

div.vimiumHUD span#hud-match-count {
  line-height: 17px;
}
